{% extends 'transit_slip/layout.html' %}
{% block content %}
<div class="container">
    <div>
        <h4>Resetting password for <span style="color: red;">{{target_user.username}}</span> 
            Full Name: {{target_user.get_full_name | default:"No full name"}} from {{ target_user.profile.unit }}
        </h4>
    </div>
    <div style="width: 35%;">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ target_user.username }}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Enter NEW password</span>
                </div>
                <input type="password" class="form-control" name="new-passwd-1" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Confirm NEW password</span>
                </div>
                <input type="password" class="form-control" name="new-passwd-2" aria-label="Default"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
    
</div>
{% endblock %}