{% extends 'transit_slip/layout.html' %}
{% block content %}
<div class="container">
    <div>
        <h4>Resetting password for {{user.username}} Full Name: {{user.get_full_name}} from {{ user.profile.unit }}</h4>
    </div>
    <div style="width: 35%;">
        <form action="{% url 'reset_user_password' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.username }}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Enter NEW password</span>
                </div>
                <input type="text" class="form-control" name="new-passwd" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
    
</div>
{% endblock %}