{% extends 'transit_slip/layout.html' %}
{% block content %}
<div class="container">
    <div>
        <div>
            <h3>User List</h3>
        </div>
        <div class="flex-div">
            <div>
                <p><a href="{% url 'create_user' %}">Add new User</a></p>
            </div>
            <div>
                <p><a href="{% url 'change_admin_aor' %}">Change Admin AOR</a></p>
            </div>
        </div>
        
    </div>

    <div>
        <table id="data_table_id" class="display">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>User Unit</th>
                    <th>User Type</th>
                    <th>Admin of</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}&nbsp;{{ user.last_name }}</td>
                    <td>{{ user.profile.unit }}</td>
                    <td>{{ user.profile.get_user_type_display }}</td>
                    <td>{{ user.profile.get_admin_stas }}</td>
                    <td>{{ user.is_active }}</td>
                    <td>
                        <a href="{% url 'update_user_info' user.pk %}">Update User |</a>
                        <a href="{% url 'reset_user_password' user.pk %}">Reset Password |</a>
                        <button class="btn btn-link user-delete">
                            <span style="color: red;">Delete User</span>    
                        </button>
                        <input type="hidden" value="{{ user.pk }}">
                        {# <a href="{% url 'delete_user' user.pk %}">Delete User</a> #}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        let csrf_token = '{{ csrf_token }}'
    </script>
{% endblock %}