{% extends 'transit_slip/layout.html' %}
{% block content %}
<div class="container">
    <div>
        <h5>User List <span><a href="{% url 'create_user' %}">Add new User</a></span></h5>
    </div>

    <div>
        <table id="data_table_id" class="display">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>User Unit</th>
                    <th>User Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}&nbsp;{{ user.last_name }}</td>
                    <td>{{ user.profile.unit }}</td>
                    <td>{{ user.profile.get_user_type_display }}</td>
                    <td>
                        
                        <div>
                            <a href="#">Update |</a>
                            
                        </div>
                        <div>
                            <form action="pre_reset_user_password" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="username" value="{{user.username}}">
                                <input class="btn btn-link" type="submit" name="reset-password" value="Reset password">
                            </form>
                        </div>
                        <div>
                            <form action="delete_user" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="username" value="{{user.username}}">
                                <input class="btn btn-link" type="submit" name="delete-user" value="Delete User">
                            </form>
                        </div>
                        
                        
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}