{% extends 'transit_slip/layout.html' %}
{% block content %}
<div class="container">
    <div>
        <h5>User List <span><a href="{% url 'create_user' %}">Add new User</a></span></h5>
    </div>

    <div>
        <table id="data_table_id" class="display">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>User Unit</th>
                    <th>User Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}&nbsp;{{ user.last_name }}</td>
                    <td>{{ user.profile.unit }}</td>
                    <td>{{ user.profile.get_user_type_display }}</td>
                    <td>
                        <a href="{% url 'update_user_info' user.pk %}">Update User |</a>
                        <a href="{% url 'reset_user_password' user.pk %}">Reset Password |</a>
                        <a href="{% url 'delete_user' user.pk %}">Delete User</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}