{% extends 'transit_slip/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="align-rt">
        <button type="button" class="btn-primary" id="btn-ts-summary" data-toggle="modal"
            data-target="#summaryModal">Summary</button>
    </div>
    <div class="ts-list-header">
        <h4>Not despathed Transit Slips</h4>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="summaryModal" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Summary</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-sm">
                        <thead><th>DST</th><th>PKGs</th><th>DAK Count</th><th>TS No's</th></thead>
                        <tbody>
                            {% for data in summary_dict.items %}
                            <tr>
                                <td>{{ data.0 }}</td>
                                <td>{{ data.1.0 }}</td>
                                <td>{{ data.1.1 }}</td>
                                <td>{{ data.1.2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!---- end modal -->
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">Destination</th>
                    <th scope="col">TS No</th>
                    <th scope="col">Date</th>
                    <th scope="col">DAK Count</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for t_slip in t_slips %}
                <tr>
                    <td>{{ t_slip.prepared_by.profile.unit.sta_name.sta_name }}</td>
                    <td>{{ t_slip.dst }}</td>
                    <td>{{ t_slip.id }}</td>
                    <td>{{ t_slip.date }}</td>
                    <td>{{ t_slip.ltr_count }}</td>
                    <td>
                        <a href="{% url 'transit_slip_detail' t_slip.id %}">Details |</a>
                        <a href="{% url 'transit_slip_despatch' t_slip.id %}">Despatch |</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ts-list-header"><h4>Through Pkgs</h4></div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">Destination</th>
                    <th scope="col">TS No</th>
                    <th scope="col">Date</th>
                    <th scope="col">DAK Count</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for t_slip in through_pkgs %}
                <tr>
                    <td>{{ t_slip.prepared_by.profile.unit.sta_name.sta_name }}</td>
                    <td>{{ t_slip.dst }}</td>
                    <td>{{ t_slip.id }}</td>
                    <td>{{ t_slip.date }}</td>
                    <td>{{ t_slip.ltr_count }}</td>
                    <td>
                        <a href="{% url 'transit_slip_detail' t_slip.id %}">Details ||</a>
                        <button class="btn btn-link through-despatch" id="{{t_slip.id}}">Despatch</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var csrf_token = '{{ csrf_token }}'
    </script>

    <script src="{% static 'assets/javascript/current_transit_slip.js' %}"></script>
{% endblock %}