
{% extends 'transit_slip/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="home-title">
        <div>
            <h2>Digital DAK Management System</h2>
        </div>
        <div>
            <img src="{% static 'assets/images/postman.jpg' %}" alt="postman image">
        </div>
    </div>
    <div class="home-subcontainer">
        <div class="instr">
            <div>
                <h5>
                    Please watch the instructions videos below before using the system.
                    Click on the title as appropriate for you.
                </h5>
            </div>
        
            <div class="card">
                <div class="card-header accordion-header" data-toggle="collapse" data-target="#unit-user-instr">
                    <h4>Unit user</h4>
                </div>
                <div class="card-body collapse" id="unit-user-instr">
                    <div class="instr-text">
                        <div class="alert alert-info">
                            <a href="https://youtu.be/MEzxIqPD8vU" 
                                target="blank">Create new regular DAK</a>
                        </div>
                        <div class="alert alert-info">
                            <a href="https://youtu.be/Zr4wRp-g-30" 
                                target="blank">Create DO letter</a>
                        </div>
                        <div class="alert alert-info">
                            <a href="https://youtu.be/p7xi6qeLom4" 
                                target="blank">Track and get info of old DAK</a>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header accordion-header" data-toggle="collapse" data-target="#sigcen-user-instr">
                    <h4>Sigcen user</h4>
                </div>
                <div class="card-body collapse" id="sigcen-user-instr">
                    <div class="instr-text">
                        <div class="alert alert-info">
                            <a href="https://youtu.be/4yKI5zXPclY" target="blank">
                                Receive DAK from unit DR</a>
                        </div>
                        <div class="alert alert-info">
                            <a href="https://youtu.be/Z4EIn3goKLQ" target="blank">
                                Transitslip preparation and despatch </a>
                        </div>
                        <div class="alert alert-info">
                            <a href="https://youtu.be/IYJOFwc1QAA" target="blank">
                                Fetch remote DAK and deliver to DR </a>
                        </div>
                    </div>
        
                </div>
            </div>
        
            <div class="card">
                <div class="card-header accordion-header" data-toggle="collapse" data-target="#admin-user-instr">
                    <h4>Admin user</h4>
                </div>
                <div class="card-body collapse" id="admin-user-instr">
                    <div class="instr-text">
                        Not uploaded yet.
                    </div>
                </div>
            </div>
        </div>
        <div class="sys-sp">
            <h5>System support</h5>
            <h6>Cpl Saiful</h6>
            <h6>Static sig coy, Jashore</h6>
            <h6>Mil:955-4447</h6>
            <h6>Mob: 01769554555</h6>
        </div>
    </div>
    
    
    
</div>

{% endblock %}