
{% extends 'transit_slip/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="home-title">
        <div>
            <h2>Digital DAK management system</h2>
        </div>
        <div>
            <img src="{% static 'assets/images/postman.jpg' %}" alt="postman image">
        </div>
    </div>
    <div class="home-subcontainer">
        <div class="instr">
            <div>
                <h5>
                    সিস্টেমটি ব্যবহার করার আগে নীচের ব্যবহারকারীর নির্দেশনাবলী মনোযোগ সহকারে পডুন। সম্পূর্ণ পাঠ্যের
                    নির্দেশাবলীর জন্য আপনি
                    যে প্রকারে ব্যবহারকরী তার উপর ক্লিক করুন।
                </h5>
            </div>
        
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#unit-user-instr">
                    <h4>Unit user</h4>
                </div>
                <div class="card-body collapse" id="unit-user-instr">
                    <div class="instr-text">
                        Unit user এ Username এবং Password দিয়ে প্রবেশ করুন । পরবর্তীতে মেনু থেকে New Dak এ Click করে New Dak
                        Entry করুন। Addr
                        line 1 ফাঁকা রাখুন। Ltr no এ আপনার পত্র নং ও সংশ্লিষ্ট শাখা নং প্রবেশ করান। Date এর ঘরে যে দিন Dak Entry
                        করবেন সেই দিন
                        এর তারিখ সংক্রিয় ভাবে নিয়ে নিবে। প্রয়োজন হলে তারিখ পরিবর্তন করতে পারবেন। To Units এ আপনি কোন কোন Unit এ
                        পত্র পাঠাতে চান
                        তা Select করুন । সর্বশেষে Save করুন।
        
                        Dak List এর In House এ Status “In Unit” দেখে আপনি বুজতে পারবেন পত্রটি Dispasted হয়নি। QR Code Print
                        দেওয়ার জন্য Misc এর
                        Print Lable এ Click করুন এবং Dak List এর Despatched এ Status “In Transit” দেখে আপনি বুজতে পারবেন পত্রটি
                        Dispasted হয়েছে
                        ।
        
                        এক্ষেত্রে Despatched মেনুতে “Code” এবং “Recipt No” দিয়ে পত্র অনুসন্ধান করা যেতে পারে।
        
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#sigcen-user-instr">
                    <h4>Sigcen user</h4>
                </div>
                <div class="card-body collapse" id="sigcen-user-instr">
                    <div class="instr-text">
                        বাংলা বর্ণমালা instruction for sigcen user. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quod sequi consectetur
                        quibusdam? Autem esse pariatur unde officia nostrum dolores nobis? Maiores, quam modi velit beatae et
                        nemo sit
                        sed doloremque.
                    </div>
        
                </div>
            </div>
        
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#admin-user-instr">
                    <h4>Admin user</h4>
                </div>
                <div class="card-body collapse" id="admin-user-instr">
                    <div class="instr-text">
                        এ্যাডমিন ইউজার Admin use আইডি এ প্রবেশ করে পাসওয়ার্ড দিয়ে Login করবে। পরবর্তীতে Admin Bar এ ক্লিক করে
                        Add/Edit/ Unit
                        Select করবে।পরবর্তীতে কোন নতুন ইউনিট Add করতে হলে ইউনিটের নাম এবং স্টেশন Select করবে এবং Save করবে।
                    </div>
                </div>
            </div>
        </div>
        <div class="sys-sp">
            <h5>System support</h5>
            <h6>Cpl Saiful</h6>
            <h6>Static sig coy, Jashore</h6>
            <h6>Mil:955-4447</h6>
            <h6>Mob: 01769554447</h6>
        </div>
    </div>
    
    
    
</div>

{% endblock %}