{% extends 'transit_slip/layout.html' %}
{% block topnav %}
{% endblock %}
{% block content %}

{% for letter in letters %}
    <div class="label-printer">
        <div class="label-address">
            <p>Ltr No: {{ letter.ltr_no }}</p>
            <p>{{ letter.to_unit }}</p>
            <p>{{ letter.to_unit.sta_name }}</p>
        </div>
        <div class="qr-code">
            <img src="/media/{{letter.qr_image_url}}" alt="qr code image">
            <p>{{ letter.date |date:"dmY-"}}{{ letter.u_string }}</p>
        </div>
    </div>
    <hr>
{% endfor %}
{% endblock %}