{% extends 'transit_slip/layout.html' %}
{% block topnav %}
{% endblock %}
{% block content %}
<div class="top-btn-div not-to-be-print">
    <button class="btn btn-primary not-to-be-print" onclick="printLabel()">Print</button>
    <button class="btn btn-primary not-to-be-print" onclick="closeWindow()">Close</button>
</div>
<div>
    {% for letter in letters %}
    <div class="label-printer">
        <div class="label-address">
            <div>
                <p>Ltr No: {{ letter.ltr_no }}</p>
                {% if letter.addr_line_1 %}
                <p>{{ letter.addr_line_1 }}</p>
                {% endif %}
                <p>{{ letter.to_unit }}</p>
                <p>{{ letter.to_unit.sta_name }}</p>
            </div>
            <div class="label-credit">
                <p>Sys sp: Maj Wazed,sigs</p>
            </div>
    
        </div>
    
        <div class="qr-code">
            <img src="/media/{{letter.qr_image_url}}" alt="qr code image">
            <p>{{ letter.date |date:"dmY-"}}{{ letter.u_string }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function printLabel(){
            window.print();
        }
        function closeWindow(){
            window.close();
        }
    </script>
{% endblock %}