{% extends 'transit_slip/layout.html' %}
{% load static %}
{% block topnav %}
{% endblock %}

{% block content %}
<div class="top-btn-div not-to-be-print">
    <button class="btn btn-primary not-to-be-print" onclick="printLabel()">Print</button>
    <button class="btn btn-primary not-to-be-print" onclick="closeWindow()">Close</button>
</div>
<div>
    <div class="do-printer">
        <div class="do-address">
            <div class="top-line">
                <p>{{ letter.ltr_no }}</p>
                <p>Dated:&nbsp;{{ letter.date | date:"d/m/Y" }}</p>
            </div>
            <div class="to">
                <p>To,</p>
            </div>
            <div class="main-address">
                
                <div>
                    <p style="max-width: 120mm;">{{ letter.addr_line_1 }}</p>
                    <p>{{ letter.addr_line_2 }}</p>
                    {% if unit_full_name %}
                        <p>{{ unit_full_name }}</p>
                    {% else %}
                        <p>{{ letter.to_unit }}</p>
                    {% endif %}
                    {% if sta_full_name %}
                        <p>{{ sta_full_name }}</p>
                    {% else %}
                        <p>{{ letter.to_unit.sta_name }}</p>
                    {% endif %}
                </div>
                
            </div>
            
            
    
        </div>
    
        <div class="do-qr-code">
            
            <div>
                <!-- <img src="/media/{{letter.qr_image_url}}" alt="qr code image"> -->
                <img src="data:image/png;base64,{{letter.qr_code}}" alt="QR_CODE" />

                <p>{{ letter.date |date:"dmY-"}}{{ letter.u_string }}</p>
                    <p class="label-credit">
                        Sys: Maj Wazed,sigs
                    </p>
            </div>
            {% comment %}
            <div class="label-credit">
                <p>Dev: Maj Wazed,sigs</p>
            </div>
            {% endcomment %}
        </div>
        
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    function printLabel() {
        window.print();
    }
    function closeWindow() {
        window.close();
    }
</script>
{% endblock %}