{% extends 'transit_slip/layout.html' %}
{% block content %}
<div class="container">
    <h5>Recent Letters of {{ unit.unit_name }} </h5>
    <div>
        <table id="data_table_id" class="display">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Code</th>
                    <th>Ltr No</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for letter in letters %}
                    <tr>
                        <td>{{ letter.from_unit }}</td>
                        <td>{{ letter.to_unit }}</td>                        
                        <td>{{ letter.date }}</td>
                        <td>{{ letter.u_string }}</td>
                        <td>{{ letter.ltr_no }}</td>
                        {% if letter.ltr_receipt %}
                        <td>In Transit</td>
                        <td>
                            <!-- <a href="{% url 'label' pk=letter.pk %}" target="blank">Print</a> -->
                            <a href="{% url 'label_bulk' ltr_no=letter.ltr_no|urlencode:"" %}" target="blank">Print Label </a>
                        </td>
                        {% else %}
                        <td>Not despatched</td>
                        <td>
                            <!-- <a href="{% url 'label' pk=letter.pk %}" target="blank">Print</a> -->
                            <a href="{% url 'label_bulk' ltr_no=letter.ltr_no|urlencode:"" %}" target="blank">Print Label |</a>
                            <a href="{% url 'letter_delete' ltr_no=letter.ltr_no|urlencode:"" %}">Delete</a>
                        </td>
                        {% endif %}
                        
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    
    
</div>

{% endblock %}