{% extends 'transit_slip/layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div>
        {% include 'transit_slip/super_admin_nav.html' %}
    </div>
    <div>
        <!-- {{ltrs}} -->
        {% for ltr in ltrs %}
            <p>{{ ltr.create_wk}}--{{ltr.date }}</p>
        {% endfor %}
    </div>
    <div class="card card-header">
        <h4>DAK BY DATE (Graph display for analysis)</h4>
    </div>
    <div class="container">
        <div class="weekly_graph">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
        
    </div>
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var csrf_token = '{{ csrf_token }}'
    </script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{% static 'assets/javascript/weekly_graph.js' %}"></script>
{% endblock %}