{% extends 'transit_slip/layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static '/vendor/jquery-ui-1.12.1/jquery-ui.min.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="search-bar card">
            <div class="card-body">
                <h6>Find DAK</h6>
                <form action="" method=POST autocomplete="off">
                    {% csrf_token %}
                    <select name="unit-id">
                        <option value="">Search Unit</option>
                        {% for unit_id, unit_name in unit_choices %}
                            <option value={{ unit_id }}>{{ unit_name }}</option>
                        {% endfor %}
                    </select>
                    <input class="datepicker" type="text" name="search-date" placeholder="Date">
                    <input type="submit" name="submit" value="Search">
                </form>
                <p>
                    Max return DAK for this search is 300. If the desired DAK is not found try narrow down
                    search result by selecting unit and date both.
                </p>
            </div>
    </div>
    
    <div class="search-result">
        <h5> {{ letters|length }} DAK returned as search result </h5>
        <table id="data-table-display-ltr" class="display">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Code</th>
                    <th>Ltr No</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for letter in letters %}
                <tr>
                    <td>{{ letter.from_unit }}</td>
                    <td>{{ letter.to_unit }}</td>
                    <td>
                        <span style="display: none;">{{letter.date | date:"Ymd"}}</span>
                        {{ letter.date | date:"d/m/Y" }}
                    </td>
                    <td>{{ letter.u_string }}</td>
                    <td>{{ letter.ltr_no }}</td>
                    <td>{{ letter.get_current_status }}</td>
                    <td>
                        <a href="{% url 'letter_state' pk=letter.pk %}">State</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


</div>

{% endblock %}

{% block script %}
    <script src="{% static '/vendor/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script>
        jQuery(function ($) {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                // maxDate: "0d",
                // minDate: "-25d",
            });
        });
    </script>
{% endblock %}