{% load static %}

<div class="nav-wrapper container">
    <div>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static  'assets/images/logo_55_div.png' %}" width="50" height="50" class="d-inline-block align-top"
                    alt="">
                Static Signal Company, Jashore
            </a>
        </nav>
    </div>

    <div>
        {% if user.is_authenticated and user.profile.user_type == "sc" %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            DAK In
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'dak_in_manual' %}">Manual</a>
                            <a class="dropdown-item" href="{% url 'dak_in_scan' %}">Scan</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DAK Out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Transit Slip
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'create_transit_slip' %}">Create</a>
                            <a class="dropdown-item" href="{% url 'current_transit_slip' %}">Current</a>
                            <a class="dropdown-item" href="#">Spl Pkg</a>
                            <a class="dropdown-item" href="{% url 'old_transit_slip' %}">Old</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{user}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Change Password</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% elif user.is_authenticated and user.profile.user_type == "ad" %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
            
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'user_list' %}">Add/Edit User</a>
                                <a class="dropdown-item" href="{% url 'unit_list' %}">Add/Edit Unit</a>
                                <a class="dropdown-item" href="{% url 'add_sta' %}">Add New Sta</a>
                                <a class="dropdown-item" href="#">Misc</a>
                                <a class="dropdown-item" href="#">Change My Password</a>
                            </div>
                        </li>
            
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ user }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% elif user.is_authenticated and user.profile.user_type == "uc" %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_letter' %}">New Dak</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            DAK List
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'letter_list_inhouse' %}">In House</a>
                            <a class="dropdown-item" href="{% url 'letter_list_despatched' %}">Despatched</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'label' %}" target="blank">Print</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{user}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Change Password</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'login' %}">Log In</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}
        
    </div>
    
    
</div>

