{% load static %}

<div class="container">
    <div class="top-banner" style="background-image: url({% static  'assets/images/top_banner.png' %});">

        {################################  sigcen clk     ###########################}

        {% if user.is_authenticated and user.profile.user_type == "sc" %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Incoming
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'dak_in_manual' %}">Manual</a>
                            <a class="dropdown-item" href="{% url 'dak_in_scan' %}">Scan</a>
                            <a class="dropdown-item" href="{% url 'receipt_list' %}">Old Receipt</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Outgoing
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'remote_ltr' %}">Fetch remote DAK</a>
                            <a class="dropdown-item" href="{% url 'deliver_ltr' %}">Deliver DAK</a>
                            <a class="dropdown-item" href="{% url 'search_outgoing_ltr' %}">Search</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Transit Slip
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'create_transit_slip' %}">Auto Create</a>
                            <a class="dropdown-item" href="{% url 'create_transit_slip_manually' %}">Manual Create</a>
                            <a class="dropdown-item" href="{% url 'current_transit_slip' %}">Current</a>
                            <a class="dropdown-item" href="{% url 'create_spl_pkg' %}">Spl Pkg</a>
                            <a class="dropdown-item" href="{% url 'through_pkg' %}">Through</a>
                            <a class="dropdown-item" href="{% url 'old_transit_slip' %}">Old</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'search_ltr' %}">Search DAK</a>
                            <a class="dropdown-item" href="{% url 'outstanding_dak' %}">Out Standing Dak</a>
                            <a class="dropdown-item" href="{% url 'dak_rtu' %}">DAK RTU</a>
                            <a class="dropdown-item" href="{% url 'unit_list' %}">Unit List</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'user_password_change' %}">Change Password</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        {################################  local admin     ###########################}

        {% elif user.is_authenticated and user.profile.user_type == "ad" %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'user_list' %}">Add/Edit User</a>
                            <a class="dropdown-item" href="{% url 'unit_list' %}">Add/Edit Unit</a>
                            <a class="dropdown-item" href="{% url 'add_sta' %}">Add New Sta</a>
                            <a class="dropdown-item" href="{% url 'search_ltr' %}">Find DAK</a>
                            <a class="dropdown-item" href="{% url 'delivery_setup' %}">Delivery Setup</a>
                            <a class="dropdown-item" href="{% url 'misc_admin_info' %}">Misc</a>
                            <a class="dropdown-item" href="{% url 'user_password_change' %}">Change My Password</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">{{ user }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        {################################  unit clk     ###########################}

        {% elif user.is_authenticated and user.profile.user_type == "uc" %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            New DAK
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'new_letter' %}">Regular</a>
                            <a class="dropdown-item" href="{% url 'new_do' %}">DO</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DAK List
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'letter_list' 'inhouse' %}">In House</a>
                            <a class="dropdown-item" href="{% url 'letter_list' 'despatched' %}">Despatched</a>
                            <a class="dropdown-item" href="{% url 'letter_list' 'local_delivered' %}">Local Deliver</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'label' %}" target="blank">Print</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{request.user}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'user_password_change' %}">Change Password</a>
                            <!-- <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a> -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary text-white" href="{% url 'login' %}">Log In</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}

    </div>


</div>