{% extends 'transit_slip/layout.html' %}
{% load static %}
{% block topnav %}
{% endblock %}
{% block content %}
<div class="container ts-print">
    <div>
        <div style="text-align: center;">
            <h5>Transit Slip, SSC JSR</h5>
        </div>
        <div class="ts-head">
            <p>TS No: {{ transit_slip.id }}</p>
            <p>Dst: {{ transit_slip.dst }}</p>
            <p>Count:{{ ltr_count }}</p>
            <p>Date: {{ transit_slip.date | date:"d/m/Y" }}</p>
            <p>Prepared By: {{ transit_slip.prepared_by }}</p>
        </div>

    </div>
    <div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Code</th>
                    <th>Ltr no</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for ltr in ltrs %}
                <tr>
                    <td>{{ ltr.from_unit }}</td>
                    <td>{{ ltr.to_unit }}</td>
                    <td>{{ ltr.date }}</td>
                    <td>{{ ltr.u_string }}</td>
                    <td>{{ ltr.ltr_no }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}