{% extends 'transit_slip/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <form action="" method=POST>
                {% csrf_token %}
                <div class="input-group inline-header-form">
                    
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Search DAK for:</span>
                        </div>
                        <select name="sta" id="id-sta">
                            <option value="">-----</option>
                            {% for sta in stas %}
                            <option value="{{sta.id}}">{{sta.sta_name}}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">PKG Size:</span>
                        </div>
                        <input type="text" class="form-control" name="pkg-size" value="40">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" name="submit">Search</button>
                        </div>
                    
                </div>
            </form>
        </div>
    </div>
    <div>
        {% if ltrs %}
        <form action="{% url 'transit_slip_ltrs' %}" method=POST>
            {% csrf_token %}
            <input type="hidden" name="dst-sta" value="{{ sta_name }}">
            <div class="ltr-list">
                <div style="margin-top: 20px;">
                    <h4>Showing DAK for {{ sta_name }}. Total count {{ ltr_count }}</h4>
                </div>
                <div>
                    <table id="transit-slip-table" class="table">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Ltr no</th>
                                <th>Date</th>
                                <th>Code</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ltr in ltrs %}
                            <tr id="{{ ltr.pk }}">
                                <td>{{ltr.from_unit}}</td>
                                <td>{{ltr.to_unit}}</td>
                                <td>{{ltr.ltr_no}}</td>
                                <td>{{ltr.date}}</td>
                                <td>{{ ltr.u_string }}</td>
                                <td><a class="ltr-remove-link" href="#">Remove</a></td>
                                <input type="hidden" name="ltr-ids" value="{{ ltr.id }}">
        
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
                <div>
                    <input type="submit" name="submit_ltrs" class="btn btn-primary" value="Create transit slip">
                </div>
        
            </div>
        </form>
        
        {% endif %}
    </div>
    
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/assets/javascript/transit_slip.js"></script>
{% endblock %}



