{% extends 'transit_slip/layout.html' %}
{% block content %}
<div class="container">
    <div class="unit-add-edit">
        <div class="card">
            <div class="card-header">
                <h6>Change Loc of an unit</h6>
            </div>
            <div class="card-body">
                <form action="" method="GET">
                    <label for="unit">Select Unit to edit</label>
                    <select name="unit-id" id="unit-id">
                        <option value="0">---------</option>
                        {% for unit in units %}
                        <option value="{{ unit.pk }}">{{ unit.unit_name }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-secondary" type="submit" name="unit-submit" id="unit-submit" value="Edit">
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h6>Add new Unit</h6>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Save">
                </form>
            </div>
            
        </div>
        
        
    </div>
</div>

{% endblock %}