

.do-printer { /* has to be before the media print inorder to hide the border during print */
    width: 190mm;
    height: 140mm;
    border: 1px solid blue;
    margin-left: 200px;
}

.label-printer {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 10%;
    /* line-height: 0.5; */
}
.label-printer p {
    margin: 0;
}

.label-credit{
    font-size: .75rem;
    text-align: left;
    bottom: 0;
    color: #E1DBB1;
}

.do-printer {
    width: 240mm;
    height: 140mm;
}
.do-printer p {
    font-weight: 700;
    margin: 0.3em;
}

.do-address {
    line-height: 1;
    display: flex;
    flex-direction: column;
}
.do-address .top-line {
    margin-top: 2cm;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.do-address .to {
    margin-top: 2cm;
    margin-left: 7cm;
}
.do-address .main-address {
    margin-left: 8cm;
    margin-right: 1cm;
    display: flex;
    /* flex-direction: row-reverse; */

}
.do-address .main-address div{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.do-qr-code {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.do-qr-code div {
    margin: 0cm 1cm;
}
.do-qr-code img{
    height: 3cm;
}
.do-qr-code-credit {
    font-size: 70%;
    color: darkgray;
    font-weight: normal;
}


@page {
    margin: 2cm;
    /* size: A4; */
}

@media print {
    .label-printer {
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .ts-print {
        break-inside: auto;
    }
    .receipt-print {
        break-inside: auto;
    }

    .label-printer {
        font-size: 16pt;
        margin: 1cm;
    }
    .label-address {
        margin-top: 1cm;
    }
    .label-address {
    }
    .ts-print {
        font-size: 12pt;
    }
    .ts-print table {
        width: 85%;
    }
    .ts-print .ts-head {
        width: 80%;
    }
    .top-banner {
        display: none;
    }
    .not-to-be-print {
        display: none;
    }
    .do-printer {
        width: 240mm;
        height: 140mm;
        border: none;
        margin: 0;
    }
    .do-address {
        font-size: 150%;
    }

    .table-sm {
    line-height: 1;
}

}